<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" basePath="logs/">
    <Properties>
        <Property name="LOG_FILE">
            logs/output.log
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{DD:HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="${LOG_FILE}" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="taxi" level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
